ALTERYX WEEKLY CHALLENGE 1

A company in Australia has source data which is made up of a series of postal codes (eg. 2000, 2001, 2002 etc.) amongst some other data fields. They have a separate reference table which contains postcode ranges (eg. 2000 to 2002) which they would like to use to match/filter their main data.

Each Customer Record needs to be joined to the Lookup table based on a Postal Area Ranged region. Then finally summarize the customer data by Region, Sales Rep, and Responder, then a count of customers.

In [10]:
import pandas as pd

In [11]:
#Read in our two datasets: cdata is our customer data, ldata is the lookuptable

cdata = pd.read_excel(io=r"C:\Users\Guicheney William\Documents\GitHub\Challenges\Challenge-001-Join-to-Range\Willy G\1. Data\01. Customer Data.xlsx")
ldata = pd.read_excel(io=r"C:\Users\Guicheney William\Documents\GitHub\Challenges\Challenge-001-Join-to-Range\Willy G\1. Data\02. Lookup table.xlsx")

In [12]:
#Let's check what our customer data looks like

print(cdata.head(5))

   Customer ID  Store Number Customer Segment Responder  Postal Area
0            2           100        Corporate        No         2086
1            3           100        Corporate        No         2051
2            5           100      Home Office        No         2077
3            6           106      Home Office        No         2004
4            8           101      Home Office        No         2010

In [13]:
#Let's get some more information about this dataset. We know it has 2678 rows: by making sure we have the same amount of rows
#in our final dataset, we will be sure that that we have not lost any customers in the process and that they have all been
#assigned to a Sales rep

cdata.shape

(2678, 5)

In [14]:
#Let's now check out Sales Rep data

print(ldata.head(5))

       Range Region Sales Rep  Expect Revenue
0  2000-2019     R1      John         1000000
1  2020-2039     R2       Ted         3245234
2  2040-2059     R3      Nick          456654
3  2060-2079     R4      Mike          234545
4  2080-2100     R5      Paul         1232345

In [15]:
#Let's split our Range column into two columns: one which will act as the start of the region he manages, 
#the other as the the last region

ldata["START"], ldata["END"] = ldata['Range'].str.split('-',1).str
ldata[["START", "END"]] = ldata[["START", "END"]].astype(int)
ldata.head(5)

       Range Region Sales Rep  Expect Revenue  START   END
0  2000-2019     R1      John         1000000   2000  2019
1  2020-2039     R2       Ted         3245234   2020  2039
2  2040-2059     R3      Nick          456654   2040  2059
3  2060-2079     R4      Mike          234545   2060  2079
4  2080-2100     R5      Paul         1232345   2080  2100

In [20]:
#Here is the main crux of this code

# We start by building three dataframes
# Result will store a dataset that has one row for each of the Postal Areas that the Sales Rep is reponsible for
# To get Result, we create two dataframes:
#   - df that has one row for each postal area per sales rep, and brings in all the information for the other columns (Range,
#       Region, Revenue, etc.)
#   - df2 that will hold the Postal Area codes 2000 to 2100 - as we loop through each row


result = pd.DataFrame()
df = pd.DataFrame(columns = ['Range', 'Region', 'Sales Rep', 'Expect Revenue'])
df1 = pd.DataFrame(columns = ['Postal Area'])

#F will start as the initializing point for our loop that will generate all the possible Postal Areas, from 2000 to 2100

F = 1999

#Our loop is composed of two parts:
#We start by generating an empty list for each Sales Rep

for i, row in ldata.iterrows():
    l = []

    # We then iterate over the range of the Postal Areas that the Sales Rep is reponsible for, adding 1 to the range because of
    # the way the Range is setup

    for n in range(int(row['END']+1) - int(row['START'])):
        
        #We first generate df, by taking all the values for the other columns for each row in our Sales Rep data, and append 
        #that row to our first dataframe df. NTOTE: We need to convert our list l into a Dataframe in order to be able to
        #append it to df
        
        l = [row['Range'], row['Region'], row['Sales Rep'], row['Expect Revenue']]
        df = df.append(pd.DataFrame([l],columns=['Range', 'Region', 'Sales Rep', 'Expect Revenue']), 
                       ignore_index=True, sort=False)
        
        #We then create the corresponding Postal Area code, by starting at 1999 and adding one to each row, and then append
        #that value to our second dataframe df2
        
        F = F + 1
        df1 = df1.append(pd.DataFrame([F], columns = ["Postal Area"]), ignore_index = True)
        
        #we then join up both dataframes every row, creating a third dataframe that has all the relevant info for each sales
        #rep, and the postal area they are responsible for, in the entire range of postal areas they are responsible for
        
        result = pd.merge(df, df1, left_index=True, right_index=True)

In [21]:
#Here, we can see our final dataframe, that has all the relevant Sales Rep info on each row, and all the Postal Areas
#they are responsible for

result.head(10)

       Range Region Sales Rep Expect Revenue Postal Area
0  2000-2019     R1      John        1000000        2000
1  2000-2019     R1      John        1000000        2001
2  2000-2019     R1      John        1000000        2002
3  2000-2019     R1      John        1000000        2003
4  2000-2019     R1      John        1000000        2004
5  2000-2019     R1      John        1000000        2005
6  2000-2019     R1      John        1000000        2006
7  2000-2019     R1      John        1000000        2007
8  2000-2019     R1      John        1000000        2008
9  2000-2019     R1      John        1000000        2009

In [22]:
#Here we convert Postal Area to an integer for our join (both field need to be of the same type)

result[["Postal Area"]] = result[["Postal Area"]].astype(int)

In [23]:
#We join our customer data unto the new Sales Rep data, and check the number of rows to make sure we have assigned every
#customer

final = pd.merge(result, cdata, on = 'Postal Area', how = "inner")
final.shape

(2678, 9)

In [24]:
#We summarize our data according to the dimensions specified in the challenge, and count the number of customers

final.groupby(['Region', 'Sales Rep', 'Responder'])['Customer ID'].count()

Region  Sales Rep  Responder
R1      John       No           476
                   Yes           76
R2      Ted        No           415
                   Yes           87
R3      Nick       No           493
                   Yes           92
R4      Mike       No           430
                   Yes           82
R5      Paul       No           434
                   Yes           93
Name: Customer ID, dtype: int64