In [244]:
import pandas as pd

In [245]:
df = pd.read_csv(r"C:\Users\Guicheney William\Documents\GitHub\Challenges\Challenge-002-Preparing-Delimited-Data\files\input.csv")
df.columns =['data']

df.head(2)

                                                data
0  "Mary had a little lamb whose fleece was white...
1  "I do not like green eggs and ham",456,'25-DEC...

In [246]:
#Start by splitting the string into 3 columns, on the ',' delimiter. We can already give the columns the correct names now

df['Poem'], df['Poem_ID'], df['Poem_Read_Date'] = df['data'].str.split(',',3).str
df = df.drop(['data'], axis = 1)

In [247]:
df.head(2)

                                                Poem Poem_ID Poem_Read_Date
0  "Mary had a little lamb whose fleece was white...     123    '16-JUN-01'
1                 "I do not like green eggs and ham"     456    '25-DEC-10'

In [248]:
# This is a bit overkill but the metadata type of this field in Alteryx is int, so we make the change manually here

df["Poem_ID"] = df["Poem_ID"].astype(int)

In [249]:
#Remove the unwanted punctuation

df['Poem'] = df['Poem'].str.replace('"', '')
df['Poem_Read_Date'] = df['Poem_Read_Date'].str.replace("'",'')

df.head(2)

                                                Poem  Poem_ID Poem_Read_Date
0  Mary had a little lamb whose fleece was white ...      123      16-JUN-01
1                   I do not like green eggs and ham      456      25-DEC-10

In [250]:
#Parse the string into the wanted datetime format

df['Poem_Read_Date'] = pd.to_datetime(df['Poem_Read_Date'])
df.head(2)

                                                Poem  Poem_ID Poem_Read_Date
0  Mary had a little lamb whose fleece was white ...      123     2001-06-16
1                   I do not like green eggs and ham      456     2010-12-25