# Running Averages

The goal is to create a 3 and 6 month running averages for the values contained in columns: 
u.CAGI, d.CAGI, u.IR, d.IR, u.NonIR, d.NonIR by HP Category.

__*For example:*__


|Month:|Value:|Running 3 mo. Average:|
|---|---|---|
|1|218|218|
|2|200|212|
|3|272|233|

*Hint:* For Values that do not exist, set values to closest valid row.

In [1]:
# Import required Packages

import pandas as pd

In [37]:
# read in input dataset
df_input = pd.read_csv('../files/input.csv')
df_input.head()

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR
0,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0
1,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0
2,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0
3,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0
4,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0

In [40]:
#read in output dataset for comparasion
df_output = pd.read_csv('../files/output.csv', index_col='RecordID')
print(df_output.shape)
df_output.head()

(1368, 21)

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR,r3mo_d_CAGI,...,r3mo_d_NonIR,r3mo_u_CAGI,r3mo_u_IR,r3mo_u_NonIR,r6mo_d_CAGI,r6mo_d_IR,r6mo_d_NonIR,r6mo_u_CAGI,r6mo_u_IR,r6mo_u_NonIR
RecordID,,,,,,,,,,,,,,,,,,,,,
1,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0,1.178948e+06,...,859632.000000,218.000000,56.000000,162.000000,1.178948e+06,319316.000000,859632.000000,218.000000,56.000000,162.000000
2,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0,1.141623e+06,...,845810.666667,212.000000,52.000000,160.000000,1.160286e+06,307564.333333,852721.333333,215.000000,54.000000,161.000000
3,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0,1.215227e+06,...,930609.333333,230.000000,50.666667,179.333333,1.197087e+06,301966.666667,895120.666667,224.000000,53.333333,170.666667
4,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0,1.154305e+06,...,897549.333333,216.666667,46.000000,170.666667,1.166626e+06,288035.666667,878590.666667,217.333333,51.000000,166.333333
5,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0,1.171033e+06,...,885910.000000,216.666667,51.333333,165.333333,1.156328e+06,290467.666667,865860.333333,214.333333,51.666667,162.666667

In [4]:
df_input.shape

(1368, 9)

In [67]:
# Columns to create running totals for
#cols = ['u.CAGI', 'd.CAGI', 'u.IR', 'd.IR', 'u.NonIR', 'd.NonIR']
cols = ['d.CAGI', 'd.IR', 'd.NonIR', 'u.CAGI', 'u.IR', 'u.NonIR']

# initialise empty output dataframe
df = pd.DataFrame
for col in cols:
    label = "".join(['r3mo_', col.replace('.', '_')])
    df_input[label] = df_input.groupby('HP Category')[col].rolling(3,min_periods=1).mean().reset_index('HP Category', drop =True)
    
df = pd.DataFrame
for col in cols:
    label = "".join(['r6mo_', col.replace('.', '_')])
    df_input[label] = df_input.groupby('HP Category')[col].rolling(6,min_periods=1).mean().reset_index('HP Category', drop =True)

print(df_input.shape)
df_input.reset_index
df_input.head()

(1368, 21)

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR,r3mo_d_CAGI,...,r3mo_d_NonIR,r3mo_u_CAGI,r3mo_u_IR,r3mo_u_NonIR,r6mo_d_CAGI,r6mo_d_IR,r6mo_d_NonIR,r6mo_u_CAGI,r6mo_u_IR,r6mo_u_NonIR
0,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0,1.178948e+06,...,859632.000000,218.000000,56.000000,162.000000,1.178948e+06,319316.000000,859632.000000,218.0,56.000000,162.000000
1,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0,1.122961e+06,...,838900.000000,209.000000,50.000000,159.000000,1.122961e+06,284061.000000,838900.000000,209.0,50.000000,159.000000
2,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0,1.215227e+06,...,930609.333333,230.000000,50.666667,179.333333,1.215227e+06,284617.333333,930609.333333,230.0,50.666667,179.333333
3,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0,1.154305e+06,...,897549.333333,216.666667,46.000000,170.666667,1.160466e+06,272395.500000,888070.000000,217.0,48.500000,168.500000
4,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0,1.171033e+06,...,885910.000000,216.666667,51.333333,165.333333,1.151804e+06,284698.000000,867106.000000,213.6,50.800000,162.800000

In [68]:
#(df_input == df_output).all()

col_match = (df_input.columns == df_output.columns)
col_no_match = (df_input.columns != df_output.columns)
print(col_match)
print(df_input.columns)
print(df_input.columns[col_no_match])
print(df_output.columns[col_no_match])

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True]
Index(['HP Category', 'Year', 'Month', 'u.CAGI', 'd.CAGI', 'u.IR', 'd.IR',
       'u.NonIR', 'd.NonIR', 'r3mo_d_CAGI', 'r3mo_d_IR', 'r3mo_d_NonIR',
       'r3mo_u_CAGI', 'r3mo_u_IR', 'r3mo_u_NonIR', 'r6mo_d_CAGI', 'r6mo_d_IR',
       'r6mo_d_NonIR', 'r6mo_u_CAGI', 'r6mo_u_IR', 'r6mo_u_NonIR'],
      dtype='object')
Index([], dtype='object')
Index([], dtype='object')

In [72]:
(df_input.reset_index(drop=True) == df_output.reset_index(drop=True)).all()

(df_input['r3mo_d_CAGI']) ==df_output['r3mo_d_CAGI'].reset_index(drop=True)

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7        True
8       False
9        True
10      False
11      False
12      False
13       True
14      False
15       True
16      False
17      False
18      False
19      False
20      False
21       True
22      False
23      False
24       True
25      False
26      False
27      False
28      False
29       True
        ...
1338    False
1339    False
1340     True
1341    False
1342    False
1343    False
1344    False
1345     True
1346     True
1347    False
1348     True
1349     True
1350    False
1351    False
1352    False
1353     True
1354    False
1355    False
1356    False
1357     True
1358     True
1359    False
1360    False
1361    False
1362    False
1363    False
1364    False
1365    False
1366    False
1367    False
Name: r3mo_d_CAGI, Length: 1368, dtype: bool