In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Guicheney William\Documents\GitHub\Challenges\Challenge-003-Running-Averages\files\input.csv")
df['RecordID'] = df.index
df['u.CAGI'] = df['u.CAGI'].astype(float)

In [3]:
df.head(5)

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR,RecordID
0,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0,0
1,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0,1
2,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0,2
3,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0,3
4,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0,4

In [19]:
def ThreeMonthAverage():
    for i, row in df.iterrows():
        df['total']=0
        df['MovingAverage']=0
        if i == 0:
            df['total'] = row
            df['MovingAverage'] == df['total']/1
        elif i == 1:
            df['total'] = row + [row][index-1]
            df['MovingAverage'] = df['total']/2
        else:
            df['total'] = row + [row][index-1] + [row][index-2]
            df['MovingAverage'] = df['total']/3

In [20]:
df['u.CAGI'] = df['u.CAGI'].apply(ThreeMonthAverage())

IndexError: list index out of range

In [7]:
df.head(5)

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR,RecordID,total,MovingAverage
0,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0,0,0,0
1,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0,1,0,0
2,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0,2,0,0
3,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0,3,0,0
4,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0,4,0,0

In [79]:
def ThreeMonthAverage(measure):
    for i, row in df.iterrows():
        df['total']=0
        df['MovingAverage']=0
        if i == 0:
            row['total'] = row[measure]
            row['MovingAverage'] == row['total']/1
        elif i == 1:
            row['total'] = row[measure] + pd.DataFrame([row[measure]])[i-1]
            row['MovingAverage'] = row['total']/2
        else:
            print(row[measure])

In [77]:
df = df.apply(ThreeMonthAverage(measure))
df.head(5)

NameError: name 'measure' is not defined