In [1]:
import pandas as pd

In [62]:
df = pd.read_csv(r"C:\Users\Guicheney William\Documents\GitHub\Challenges\Challenge-003-Running-Averages\files\input.csv")
df['RecordID'] = df.index

In [63]:
df.head(5)

,HP Category,Year,Month,u.CAGI,d.CAGI,u.IR,d.IR,u.NonIR,d.NonIR,RecordID
0,10 hp,2009,1,218.0,1178948.0,56.0,319316.0,162.0,859632.0,0
1,10 hp,2009,2,200.0,1066974.0,44.0,248806.0,156.0,818168.0,1
2,10 hp,2009,3,272.0,1399758.0,52.0,285730.0,220.0,1114028.0,2
3,10 hp,2009,4,178.0,996182.0,42.0,235730.0,136.0,760452.0,3
4,10 hp,2009,5,200.0,1117158.0,60.0,333908.0,140.0,783250.0,4

In [64]:
df = df.melt(id_vars=['RecordID', 'HP Category', 'Year', 'Month'],
            var_name='Measure',
            value_name='Value')
df

      RecordID HP Category  Year  Month  Measure      Value
0            0       10 hp  2009      1   u.CAGI      218.0
1            1       10 hp  2009      2   u.CAGI      200.0
2            2       10 hp  2009      3   u.CAGI      272.0
3            3       10 hp  2009      4   u.CAGI      178.0
4            4       10 hp  2009      5   u.CAGI      200.0
5            5       10 hp  2009      6   u.CAGI      258.0
6            6       10 hp  2009      7   u.CAGI      270.0
7            7       10 hp  2009      8   u.CAGI      260.0
8            8       10 hp  2009      9   u.CAGI      402.0
9            9       10 hp  2009     10   u.CAGI      234.0
10          10       10 hp  2009     11   u.CAGI      250.0
11          11       10 hp  2009     12   u.CAGI      262.0
12          12       10 hp  2010      1   u.CAGI      184.0
13          13       10 hp  2010      2   u.CAGI      190.0
14          14       10 hp  2010      3   u.CAGI      312.0
15          15       10 hp  2010      4   u.CAGI      188.0
16          16       10 hp  2010      5   u.CAGI      296.0
17          17       10 hp  2010      6   u.CAGI      346.0
18          18       10 hp  2010      7   u.CAGI      330.0
19          19       10 hp  2010      8   u.CAGI      342.0
20          20       10 hp  2010      9   u.CAGI      452.0
21          21       10 hp  2010     10   u.CAGI      258.0
22          22       10 hp  2010     11   u.CAGI      278.0
23          23       10 hp  2010     12   u.CAGI      388.0
24          24       10 hp  2011      1   u.CAGI      226.0
25          25       10 hp  2011      2   u.CAGI      262.0
26          26       10 hp  2011      3   u.CAGI      442.0
27          27       10 hp  2011      4   u.CAGI      294.0
28          28       10 hp  2011      5   u.CAGI      356.0
29          29       10 hp  2011      6   u.CAGI      554.0
...        ...         ...   ...    ...      ...        ...
8178      1338       75 hp  2012      7  d.NonIR  3222534.0
8179      1339       75 hp  2012      8  d.NonIR  4284034.0
8180      1340       75 hp  2012      9  d.NonIR  4369466.0
8181      1341       75 hp  2012     10  d.NonIR  5169050.0
8182      1342       75 hp  2012     11  d.NonIR  3614626.0
8183      1343       75 hp  2012     12  d.NonIR  3054888.0
8184      1344       75 hp  2013      1  d.NonIR  4083050.0
8185      1345       75 hp  2013      2  d.NonIR  3769952.0
8186      1346       75 hp  2013      3  d.NonIR  4257054.0
8187      1347       75 hp  2013      4  d.NonIR  3305370.0
8188      1348       75 hp  2013      5  d.NonIR  4582320.0
8189      1349       75 hp  2013      6  d.NonIR  4282820.0
8190      1350       75 hp  2013      7  d.NonIR  3797488.0
8191      1351       75 hp  2013      8  d.NonIR  4039224.0
8192      1352       75 hp  2013      9  d.NonIR  4628396.0
8193      1353       75 hp  2013     10  d.NonIR  4345722.0
8194      1354       75 hp  2013     11  d.NonIR  4326836.0
8195      1355       75 hp  2013     12  d.NonIR  4681340.0
8196      1356       75 hp  2014      1  d.NonIR  4350326.0
8197      1357       75 hp  2014      2  d.NonIR  3969834.0
8198      1358       75 hp  2014      3  d.NonIR  3827756.0
8199      1359       75 hp  2014      4  d.NonIR  3320552.0
8200      1360       75 hp  2014      5  d.NonIR  3457090.2
8201      1361       75 hp  2014      6  d.NonIR  4111887.9
8202      1362       75 hp  2014      7  d.NonIR        NaN
8203      1363       75 hp  2014      8  d.NonIR        NaN
8204      1364       75 hp  2014      9  d.NonIR        NaN
8205      1365       75 hp  2014     10  d.NonIR        NaN
8206      1366       75 hp  2014     11  d.NonIR        NaN
8207      1367       75 hp  2014     12  d.NonIR        NaN

[8208 rows x 6 columns]

In [55]:
df['total'] = 0
df['MovingAverage']=0

for index, n in enumerate(df):
    if index == 0:
        df['total'] = df['Value']
        df['MovingAverage'] = df['total']/1
    elif index == 1:
        df['total'] = df['Value'] + df['Value'][index-1]
        df['MovingAverage'] = df['total']/2
    else:
        df['total'] = df['Value'] + df['Value'][index-1] + df['Value'][index-2]
        df['MovingAverage'] = df['total']/3

In [56]:
df.head(5)

,RecordID,HP Category,Year,Month,Measure,Value,total,MovingAverage
1368,0,10 hp,2009,1,d.CAGI,1178948.0,1179476.0,393158.666667
1369,1,10 hp,2009,2,d.CAGI,1066974.0,1067502.0,355834.000000
1370,2,10 hp,2009,3,d.CAGI,1399758.0,1400286.0,466762.000000
1371,3,10 hp,2009,4,d.CAGI,996182.0,996710.0,332236.666667
1372,4,10 hp,2009,5,d.CAGI,1117158.0,1117686.0,372562.000000