In [90]:
# Load required packages and Read in source files
import pandas as pd
import numpy as np
output_csv = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/output.csv") 
range_csv = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/range.csv")
customer = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/customer.csv")

In [91]:
# Split range table and generate full list
df_range = range_csv['Range'].str.split('-', expand=True)
df_range.columns = ['start', 'end']
df_range = df_range.astype(int)

df = range_csv.join(df_range)
print(df)

       Range Region Sales Rep  Expect Revenue  start   end
0  2000-2019     R1      John         1000000   2000  2019
1  2020-2039     R2       Ted         3245234   2020  2039
2  2040-2059     R3      Nick          456654   2040  2059
3  2060-2079     R4      Mike          234545   2060  2079
4  2080-2100     R5      Paul         1232345   2080  2100

In [92]:
df_filled = pd.DataFrame()
for index, row in df.iterrows():
  fill = pd.DataFrame(list(range(row['start'], row['end']+1)))
  fill['row'] = index
  df_filled = df_filled.append(fill, ignore_index = True)

df_filled = df_filled.set_index([0])
df_filled = df_filled.join(df, on='row' ,how='inner')
df_filled = df_filled.loc[:, df_filled.columns != 'row']
df_filled.head(n = 10)

          Range Region Sales Rep  Expect Revenue  start   end
0
2000  2000-2019     R1      John         1000000   2000  2019
2001  2000-2019     R1      John         1000000   2000  2019
2002  2000-2019     R1      John         1000000   2000  2019
2003  2000-2019     R1      John         1000000   2000  2019
2004  2000-2019     R1      John         1000000   2000  2019
2005  2000-2019     R1      John         1000000   2000  2019
2006  2000-2019     R1      John         1000000   2000  2019
2007  2000-2019     R1      John         1000000   2000  2019
2008  2000-2019     R1      John         1000000   2000  2019
2009  2000-2019     R1      John         1000000   2000  2019

# Merging
Merge the two dataframes with a inner join

In [93]:
customer.head()
merged = customer.join(df_filled, on='Postal Area' ,how='inner')

merged.head()

,Customer ID,Store Number,Customer Segment,Responder,Postal Area,Range,Region,Sales Rep,Expect Revenue,start,end
0,2,100,Corporate,No,2086,2080-2100,R5,Paul,1232345,2080,2100
43,72,107,Small Business,No,2086,2080-2100,R5,Paul,1232345,2080,2100
191,251,103,Corporate,No,2086,2080-2100,R5,Paul,1232345,2080,2100
441,572,104,Home Office,No,2086,2080-2100,R5,Paul,1232345,2080,2100
443,566,100,Corporate,Yes,2086,2080-2100,R5,Paul,1232345,2080,2100

# Summarise Dataset
Summarise the dataset to the output version of the csv

In [94]:
print(output_csv)
final = merged.groupby(['Region', 'Sales Rep', 'Responder']).count()
#print(final)

final = final[['Customer ID']]

#rename columns and reset index
final.columns = ['Count']
final = final.reset_index()

  Region Sales Rep Responder  Count
0     R1      John        No    476
1     R1      John       Yes     76
2     R2       Ted        No    415
3     R2       Ted       Yes     87
4     R3      Nick        No    493
5     R3      Nick       Yes     92
6     R4      Mike        No    430
7     R4      Mike       Yes     82
8     R5      Paul        No    434
9     R5      Paul       Yes     93

In [95]:
#check resultsing dataframe "final" matches the "output.csv" that was aimed for

(final == output_csv).all()

Region       True
Sales Rep    True
Responder    True
Count        True
dtype: bool