In [23]:
# Load required packages and Read in source files
import pandas as pd
import numpy as np
output_csv = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/output.csv") 
range_csv = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/range.csv")
customer = pd.read_csv("C:/Users/paulj/OneDrive/Documents/GitHub/Challenges/Challenge-001-Join-to-Range/files/customer.csv")

In [20]:
# Split range table and generate full list
df_range = range_csv['Range'].str.split('-', expand=True)
df_range.columns = ['start', 'end']
df_range = df_range.astype(int)

df = range_csv.join(df_range)
print(df)

       Range Region Sales Rep  Expect Revenue  start   end
0  2000-2019     R1      John         1000000   2000  2019
1  2020-2039     R2       Ted         3245234   2020  2039
2  2040-2059     R3      Nick          456654   2040  2059
3  2060-2079     R4      Mike          234545   2060  2079
4  2080-2100     R5      Paul         1232345   2080  2100

In [21]:
df_filled = pd.DataFrame()
for index, row in df.iterrows():
  fill = pd.DataFrame(list(range(row['start'], row['end']+1)))
  fill['row'] = index
  df_filled = df_filled.append(df, ignore_index = True)
  
#print(df_filled)

Merge the two dataframes with a inner join

In [22]:
output_csv

  Region Sales Rep Responder  Count
0     R1      John        No    476
1     R1      John       Yes     76
2     R2       Ted        No    415
3     R2       Ted       Yes     87
4     R3      Nick        No    493
5     R3      Nick       Yes     92
6     R4      Mike        No    430
7     R4      Mike       Yes     82
8     R5      Paul        No    434
9     R5      Paul       Yes     93